//* purple-blue gradient *//
$pb-1:#7400b8;
$pb-2:#6930c3;
$pb-3:#5e60ce;
$pb-4:#5390d9;
$pb-5:#4ea8de;
$pb-6:#48bfe3;
$pb-7:#56cfe1;
$pb-8:#64dfdf;
$pb-9:#72efdd;
//* Amelie *//
$am-1:#da2c38;
$am-2:#226f54;
$am-3:#87c38f;
$am-4:#f4f0bb;
$am-5:#43291f;