@import "./style/colors";
@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: $pb-3;
  color: $am-4;
}
.App{
  height: 100vh;
  overflow: hidden;
}
.Navbar{
  width: 100%;
  padding: .5rem 0 .5rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: $am-3;
  button{
    background-color: transparent;
    border: none;
    padding: 12px;
    cursor: pointer;
    &:hover{
      box-shadow: 4px 4px rgba($color: #000000, $alpha: 0.5);
      color: white;
    };
  }
}
.MainContainer{
  display: grid;
  width: 80vw;
  margin: auto;
  margin-top: 2rem;
  grid-template-columns: 1fr 2fr;
  .MySection{
    background-color:rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;
    display: grid;
    box-shadow: -15px -15px $am-3;
    height: 80vh;
    .PresentationBox{
      @include flexcenter();
      flex-direction: column;
      .Photo{
        width: 200px;
        height: 200px;
        background-color: $am-3;
        border: 5px solid $am-3;
        border-radius: 100%;
        overflow: hidden;
        @include flexcenter()
      }
      .Links{
        display: flex;
        gap: .3rem;
        img{
          height: 30px;
          cursor: pointer;
        }
      }
    }
  }
  .ScreenSection{
    margin: 1rem 0 2rem 0;
    border-radius: 0 10px 10px 0;
    height: 75vh;
    overflow-y:scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: transparent 
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: $am-3; 
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      border-radius: 10px;
      background: #555; 
    }
    section{
      z-index: 2;
      height: 300vh;
      background-color: rgba(0, 0, 0,.2);
      border-radius: 0 10px 10px 0;
      display: grid;
      padding: 3rem;
        h1{
        font-size: 4rem;
      }
    }
  }
}

